.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 0.25s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}
.acordeon .trigger{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}
.acordeon .trigger h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}
.acordeon.open .trigger:hover{
    cursor: pointer;
}
.acordeon .trigger:hover{
    cursor: pointer;
}
.acordeon .trigger::after{
    content: '';
    background-image: url('assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    transition: 0.25s ;
}
.acordeon.open .trigger::after{
    transform: rotate(-90deg);
}
.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.acordeon.open .content{
    display: block;
    padding: 1rem;
    padding: 1rem 2rem;
    height: 100%;
    opacity: 1;
}