*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
}
body{
    background-color: black;
    color: white;
}
.information a:hover{
    text-decoration: underline;
}
.information p{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: .5rem;
    font-size: 1.125;
}
.information p > i, .information p > a > i{
    width: 1rem;
    height: 1rem;
    color: white;
    margin-right: 0.5rem;
}

.portfolio li a{
    transition: 0.25;
}
.portfolio li a:hover{
    text-decoration: underline;
}
main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}
main::before, main::after{
    content: '';
    background-image: url('/assets/img/background-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

main::after{
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px){

    main{
        max-width: 1024PX;
        margin: 1rem auto;
    }

    main::before, main::after{
        width: 70vw;
    }
}