.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header::after{
    content: '';
    background-image: url('/assets/img/header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}
.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header .title{
    font-family: "Special Elite", system-ui;
    text-align: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@media only screen and (min-width: 768px){

    .header{
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information"
        ;
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    
    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 280px;
    }

    .header .information{
        grid-area: information;
    }
}
