
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.portfolio li h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 0.5rem;
}
.portfolio li h3.github::before{
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
}
@media only screen and (max-width: 600px){

    .portfolio li h3, .portfolio li h3.github::before{
        font-size: 1rem;
    }

    .portfolio li h3.github::before{
    content: '';
    width: 2.125rem;
    height: 2.125rem;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
    }

    .portfolio li a{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 425px){

    .portfolio li h3, .portfolio li h3.github::before{
        font-size: 0.9rem;
    }

    .portfolio li h3.github::before{
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
    }

    .portfolio li a{
        font-size: 0.8rem;
    }

}